/**
** RESPONSIVE DESIGN (WIDTH)
**/
@media screen and (max-width: 1300px)
{
    body {
        font-family: sf-pro-light;
    }
    .happy-phone {
        width: 40%;
    }
}
@media screen and (max-width: 1000px)
{
    body {
        font-family: sf-pro-light;
    }
    .happy-phone {
        width: 60%;
    }
}
@media screen and (max-width: 800px)
{
    body {
        font-family: sf-pro-light;
    }
    .happy-phone {
        width: 80%;
    }
}
@media screen and (max-width: 600px)
{
    body {
        font-family: sf-pro-light;
        font-size: 18px;
    }
    .happy-phone {
        width: 100%;
    }
    .date {
        margin-bottom: 0;
        font-size: 13px;
    }
    .bubble-box {
        position: fixed;
        bottom: 0;
    }
    .message-text {
        padding: 7px 18px;
        border-radius: 20px;
    }
}
/**
** RESPONSIVE DESIGN (HEIGHT)
**/
@media screen and (max-height: 900px)
{
    body {
        font-size: 20px;
    }
    .date {
        margin-bottom: 0;
    }
}
/**
** IPHONE <5
**/
@media screen and (device-aspect-ratio: 2/3)
{
    .date {
        font-size: 11px;
    }
    body {
        font-size: 12px !important;
    }
    .message-text {
        padding: 5px 15px;
        border-radius: 18px;
    }
}
/**
** IPHONE 5
**/
@media screen and (device-aspect-ratio: 40/71)
{
    .date {
        font-size: 11px;
    }
    body {
        font-size: 13px !important;
    }
    .message-text {
        padding: 5px 15px;
        border-radius: 18px;
    }
}